:invalid {
  background-color: red;
}

body {
  font-family: Gill Sans, serif;
  font-size: 100%;
  width: 275px;
}

h3 {
  color: #444;
}

p {
  margin: 0.5em 0;
}

fieldset {
  background: url("pertext_background.png");
  border: 1px solid #CCC;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  margin: 5px 0;
}

label {
  color: #BBB;
  display: block;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

p#strategy label {
  color: #333;
  font-family: Gill Sans, serif;
  letter-spacing: none;
  text-transform: none;
}

div#pert-fields {
  margin-top: 1em;
}

input[type=number], input#estimate {
  border: 1px solid #CCC;
  float: left;
  font-size: 23px;
  margin-right: 10px;
  -webkit-border-radius: 4px;
  width: 69px;
}

div#result {
  float: left;
}

input#estimate {
  color: #59A80F;
  margin: 0.5em 0 0 0;
  width: 202px;
}

button#clipboard {
  margin-top: 1.6em;
}

button#clipboard img {
  vertical-align: middle;
}
